<% provide(:title, "Home for Ruby Rest Hello World") %>
<h1>Home for Ruby Rest Hello World</h1>

<header class="navbar navbar-fixed-top navbar-inverse">
		<div class ="container">
			<nav>
				<u1 class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",  '/' %></li>
					<li><%= link_to "Info", 'static_pages/info' %></li>
					<li><%= link_to "Run Test", 'static_pages/runTest' %></li>
				</ul>
			</nav>
		</div>
	</header>