<% provide(:title, "RunTest") %>
<h1>Run Test for Ruby REST Hello World</h1>
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class ="container">
		<nav>
			<u1 class="nav navbar-nav navbar-right">
				<li><%= link_to "Home",  '/' %></li>
				<li><%= link_to "Info", 'info' %></li>
				<li><%= link_to "Run Test", 'runTest' %>
			</ul>
		</nav>
	</div>
</header>

<p><% runHelloWorld().each do |str| %>
<%= str %></br>
<% end %>
</p>